h1 {
  text-align: center;
  background-color: rgb(125, 125, 125);
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 6px;
}
.containerInput {
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
}

.containerInput div {
  padding: 10px;
}

.containerInput label {
  display: inline-block;
  width: 100px;
}

.colorBox {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 500px;
  background-color: rgb(125, 125, 125);
}
